@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans", "Roboto", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff5ec;

  /* background: linear-gradient(to right, #fff5ec 75%, #fe043c 25%); */
  color: #2e266f;
  height: 100vh;
  width: 100%;
}

#root {
  font-family: "Noto Sans", sans-serif;
}
.text-red {
  color: #fe043c;
}
.text-blue {
  color: #2e266f !important;
}
.cream-background {
  background: #fff5ec !important;
}
.locationTagImage {
  animation: spin 2000ms linear;
}
.profileDropdown svg {
  fill: #fff;
}
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.rotateZAnimation {
  animation: spin2 2000ms linear;
}
@keyframes spin2 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.glowAnimation {
  width: "fit-content";
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #aef4af;
  }
  to {
    box-shadow: 0 0 10px 10px #aef4af;
  }
}
.foodLeftArrow {
  position: absolute;
  top: 40%;
  right: 30px;
  transform: rotate(180deg);
}

.foodRightArrow {
  position: absolute;
  top: 40%;
  left: -26px;
}
.pos-relative {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .foodLeftArrow {
    position: absolute;
    top: 40%;
    right: -20px;
    transform: rotate(180deg);
  }
}

@media screen and (min-width: 1440px) {
  .foodLeftArrow {
    position: absolute;
    top: 40%;
    right: 8%;
    transform: rotate(180deg);
  }
}
/* 
@media screen and (min-width: 1920px) {
  .foodLeftArrow {
    position: absolute;
    top: 40%;
    right: 30%;
    transform: rotate(180deg);
  }
} */
